.gitignore
 Assembly-CSharp-vs.csproj
 Assembly-CSharp.csproj
 Assembly-CSharp.pidb
 Library/
 Kitchen-Wrath-csharp.sln
 Kitchen-Wrath.sln
 Kitchen-Wrath.userprefs
Kitchen-Wrath.sln
Kitchen-Wrath-csharp.sln
Library/CurrentLayout.dwlt
Library/expandedItems
Library/ScriptMapper

Library/assetDatabase3

Temp/__EditModeScene
