.gitignore
 Assembly-CSharp-vs.csproj
 Assembly-CSharp.csproj
 Assembly-CSharp.pidb
 Library/
 Kitchen-Wrath-csharp.sln
 Kitchen-Wrath.sln
 Kitchen-Wrath.userprefs
Kitchen-Wrath.sln
Kitchen-Wrath-csharp.sln
Library/CurrentLayout.dwlt
Library/expandedItems
Library/ScriptMapper

Library/assetDatabase3

Temp/__EditModeScene

Library/CurrentLayout.dwlt

Assembly-UnityScript.unityproj

Assembly-CSharp-firstpass-vs.csproj

Assembly-CSharp-firstpass-vs.csproj

Assembly-CSharp-firstpass.csproj

Assembly-CSharp-vs.csproj

Assembly-CSharp.csproj

Assembly-UnityScript-firstpass-vs.unityproj

Assembly-UnityScript-firstpass.unityproj

Assembly-UnityScript-vs.unityproj

Assembly-UnityScript.unityproj

Library/guidmapper

Library/ScriptAssemblies/Assembly-CSharp.dll

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Kitchen-Wrath-csharp.sln

Kitchen-Wrath.sln

Kitchen-Wrath.userprefs

Assembly-CSharp-vs.csproj

Assembly-CSharp.csproj

Kitchen-Wrath-csharp.sln

Kitchen-Wrath.sln

Kitchen-Wrath.userprefs

Library/guidmapper
